server:
  port: 8080

spring:
  profiles:
    default: openai

---
spring:
  config:
    activate:
      on-profile: openai
  ai:
    model:
      chat: openai
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7

---
spring:
  config:
    activate:
      on-profile: ollama
  ai:
    model:
      chat: ollama
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: mistral
          temperature: 0.7
